<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
<property name="hibernate.connection.url">dbc:postgresql://localhost:5432/ASTEONLINE1</property>
<property name="hibernate.connection.username">postgres</property>
<property name="hibernate.connection.password"></property>

<mapping class="Bean.Utenti" />
<mapping class="Bean.Categorie" />
<mapping class="Bean.Oggetti" />
<mapping class=".Aste" />
<mapping class="Bean.Offerte" />
</session-factory>
</hibernate-configuration>
